<form class="ui form">
  <div class="field">
    <label>Code</label>
    {{input value=model.code type="text" class="ui input"}}
  </div>

  <div class="field">
    <label>Descriptif</label>
    {{textarea value=model.descriptif class="ui input"}}
  </div>

  <div class="field">
    <label>Developeur</label>
    {{input value=model.developer type="hidden" class="ui input" id="developer"}}
    <select>
      {{#each model.developers as |elm|}}
        <option onClick="document.getElementById('developer').value = this.id;" id={{elm.id}} value={{elm.id}}>{{elm.identity}}</option>
      {{/each}}
    </select>
  </div>

  <div class="two fields">
    <div class="field">
      <label>tags</label>
      {{input value=model.tags type="text" class="ui input"}}
    </div>


    <div class="field">
      <label>tasks</label>
      {{input value=model.tasks type="text" class="ui input"}}
    </div>

  </div>

  <button {{action "save" model}} class="ui green button">Valider</button>
  <button {{action "annuler"}} class="ui button">Cancel</button>
</form>

{{outlet}}