<form class="ui form">
  <div class="field">
    <label>Code</label>
    {{input value=model.code type="text" class="ui input"}}
  </div>

  <div class="field">
    <label>Descriptif</label>
    {{textarea value=model.descriptif class="ui input"}}
  </div>

  <div class="field">
    <label>Developeur</label>
    {{multi-select elements=model.developers selectedIds=model.owner}}
  </div>

  <div class="two fields">
    <div class="field">
      <label>tags</label>
      {{input value=model.tags type="text" class="ui input"}}
    </div>


    <div class="field">
      <label>tasks</label>
      {{input value=model.tasks type="text" class="ui input"}}
    </div>

  </div>

  <button {{action "save" model}} class="ui green button">Valider</button>
  <button {{action "annuler"}} class="ui button">Cancel</button>
</form>

{{outlet}}