<form class="ui form">
  <div class="field">
    <label>Code</label>
    {{input value=model.code type="text" class="ui input"}}
  </div>

  <div class="field">
    <label>Descriptif</label>
    {{textarea value=model.descriptif class="ui input"}}
  </div>

  <div class="field">
    <label>Developeur</label>
    {{#ui-dropdown class="selection" selected=model.copy.developer onChange=(action (mut model.copy.developer)) as |execute mapper|}}
      <div class="default text">Developer</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each model.developers as |developer|}}
          <div data-value="{{map-value mapper developer}}" class="item">
            {{developer.identity}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  <div class="two fields">
    <div class="field">
      <label>tags</label>
      {{#ui-dropdown class="fluid multiple selection" selected=model.copy.tag onChange=(action (mut model.copy.tag)) as |execute mapper|}}
        <i class="dropdown icon"></i>
        <div class="default text">Select Country</div>
        <div class="menu">
          {{#each model.tags as |item|}}
            <div data-value="{{map-value mapper item}}" class="item">
              <i class="{{item.iso2}} flag"></i>
              {{item.title}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>


    <div class="field">
      <label>tasks</label>
      {{input value=model.tasks type="text" class="ui input"}}
    </div>

  </div>

  <button {{action "save" model}} class="ui green button">Valider</button>
  <button {{action "annuler"}} class="ui button">Cancel</button>
</form>

{{outlet}}