
<form class="ui form">
  <div class="field">
    <label>Name</label>
    {{input value=model.copy.name type="text" class="ui input"}}
  </div>

  <div class="field">
    <label>Descriptif</label>
    {{textarea value=model.copy.descriptif class="ui input"}}
  </div>

  <div class="two fields">
    <div class="field">
      <label>StartDate</label>
      {{input value=model.copy.creationDate type="date" class="ui input"}}
    </div>


    <div class="field">
      <label>DueDate</label>
      {{input value=model.copy.dueDate type="date" class="ui input"}}
    </div>

  </div>

  <div class="field">
    <label>Owner</label>
    {{#ui-dropdown class="selection" selected=model.copy.owner onChange=(action (mut model.copy.owner)) as |execute mapper|}}
      <div class="default text">Developer</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each model.developers as |developer|}}
          <div data-value="{{map-value mapper developer}}" class="item">
            {{developer.identity}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>

  <button {{action "save" model}} class="ui green button">Valider</button>
  <button {{action "annuler"}} class="ui button">Cancel</button>
</form>

{{outlet}}